<h3 class="center-align"><%= action %> <%= t('activerecord.models.doctor.one') %></h3>

<div class="row">
    <div class="col s12">
        <% if @doctor.errors.any? %>	
            <ul>
                <% @doctor.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
        <% end %>
    </div>
</div>

<div class="row">
    
    <%= form_for([:backoffice, @doctor], :class => "col s12") do |f| %>

        <div class="row">
            <div class="input-field col m6 s12">
                <i class="material-icons prefix">account_box</i>
                <%= f.label :name %>              
                <%= f.text_field :name, :class => "validate" %>
            </div>
            
            <div class="input-field col m6 s12">
                <i class="material-icons prefix">mail</i>
                <%= f.label :email %>              
                <%= f.text_field :email, :class => "validate" %>
            </div>
        </div>

        <div class="row">
            <div class="input-field col m6 s12">
                <i class="material-icons prefix">phone</i>
                <%= f.label :phone %>              
                <%= f.text_field :phone, :class => "validate" %>
            </div>

            <div class="input-field col m6 s12">
                <i class="material-icons prefix">business</i>
                <%= collection_select(:doctor, :specialization_id, @specializations_options_for_select, :id,
                                      :description) %>
            </div>
        </div>

        <div class="row">
            <div class="input-field col m6 s12">
                <i class="material-icons prefix">work</i>
                <%= f.label :crm %>              
                <%= f.text_field :crm, :class => "validate" %>
            </div>

            <div class="input-field col m6 s12">
                <i class="material-icons prefix">attach_money</i>
                <%= f.label :salary %>              
                <%= f.text_field :salary, :class => "validate" %>
            </div>
        </div>

        <div class="row">
            <div class="input-field col m6 s12">
                <i class="material-icons prefix">vpn_key</i>
                <%= f.label :password %>              
                <%= f.password_field :password, :class => "validate" %>
            </div>

            <div class="input-field col m6 s12">
                <i class="material-icons prefix">vpn_key</i>
                <%= f.label :password_confirmation %>              
                <%= f.password_field :password_confirmation, :class => "validate" %>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 m2 offset-m10">
                <%= f.submit t('buttons.save'), :class => "btn waves-effect light-green darken-4" %>
            </div>

        </div>
    
    <% end %>

</div>