<div class="jumbotron">
  <h1><%= t('app.name') %></h1>

  <p class="lead">
    <%= t 'app.saudation', :user => current_secretary.name %>
  </p>
  <p>
    <%= l DateTime.now, format: :long %>
  </p>
</div>

<div class="row"> 
  <div class="col-lg-4">
    <h2>Pacientes</h2>
    <p>
      Cadastre novos pacientes ou pesquise por um previamente cadastrdo para realizar o atendimento.
    </p>
    <p>
      <%= link_to upa_patients_path, class: 'btn btn-primary' do %>
        <%= t('upa_menu.patients') %>
      <% end %>
    </p>
  </div>
  <div class="col-lg-4">
      <h2>Atendimentos</h2>
      <p>
        Visualize os atendimentos registrados, controle os que ainda não foram finalizados ou altere 
        as informações.
      </p>
      <p>
        <%= link_to upa_appointments_path, class: 'btn btn-danger' do %>
          <%= t('upa_menu.appointment') %>
        <% end %> 
      </p>
    </div>
    <div class="col-lg-4">
      <h2>Atendimentos</h2>
      <p>
        Visualize os atendimentos registrados, controle os que ainda não foram finalizados ou altere 
        as informações.
      </p>
      <p>
        <%= link_to upa_appointments_path, class: 'btn btn-success' do %>
          <%= t('upa_menu.appointment') %>
        <% end %> 
      </p>
    </div>
</div>