<div class="row">
  <h3 class="mx-auto">
    <%= t('activerecord.models.specialization.one') %>
    <small class="text-muted"><%= action %></small>
  </h3>    
</div>

<%= form_for([:backoffice, @specialization]) do |f| %>
  <div class="row">
    <div class="form-group col-md-12 <%= has_errors?(@specialization, :description, 'has-danger') %>">
      <%= f.label :description, :class => 'form-control-label' %>
      <%= f.text_field :description, :class => 'form-control' %>
      <% if !@specialization.errors.messages[:description].empty? %>
        <div class="form-control-feedback"><%= @specialization.errors.full_messages_for(:description)[0] %></div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-12">
      <%= f.submit t('buttons.save'), :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>