<div class="row">
  <h3 class="mx-auto">
    <%= @secretaries.model_name.human(count: @secretaries.length) %>
    <small class="text-muted"><%= t('labels.listed') %></small>
  </h3>    
</div>

<%= render partial: 'layouts/shared/search',
           locals: {
                    path: backoffice_secretaries_path,
                    field_name: :name_or_email_cont,
                    type_button: 'outline-dark'
                  } %>

<%= link_to new_backoffice_secretary_path, :class => "btn btn-dark btn-block btn-block-backoffice" do %>
  <%= t('buttons.new') %>
<% end %>

<div id="list-secretaries">
  <%= render partial: 'backoffice/secretaries/shared/secretaries' %>
</div>