<div class="row">
  <h3 class="mx-auto">
    <%= t('activerecord.models.patient.one') %>
    <small class="text-muted"><%= action %></small>
  </h3>    
</div>

<%= form_for([:upa, @patient], html: {:novalidate => 'novalidate', :id => 'form-patient' }) do |f| %>
  
  <div class="row">  
    <div class="form-group col-md-9">
      <%= f.label :name, :class => 'form-control-label' %> <span class="form-control-feedback">*</span>
      <% if @patient.errors.messages[:name].empty? %>      
        <%= f.text_field :name, { :class => "form-control", :required => 'required' } %>
      <% else %>
        <%= f.text_field :name, { :class => "form-control is-invalid", :required => 'required' } %>      
        <div class="form-control-feedback">
          <%= @patient.errors.full_messages_for(:name)[0] %>
        </div>  
      <% end %>
    </div>

    <div class="form-group col-md-3">
      <%= f.label :cpf, :class => 'form-control-label' %> <span class="form-control-feedback">*</span>
      <% if @patient.errors.messages[:cpf].empty? %>
        <%= f.text_field :cpf, { :class => 'form-control cpf-input', :required => 'required' } %>
      <% else %>
        <%= f.text_field :cpf, { :class => 'form-control is-invalid cpf-input', :required => 'required' } %>
        <div class="form-control-feedback">
          <%= @patient.errors.full_messages_for(:cpf)[0] %>
        </div>      
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label :phone, :class => 'form-control-label' %> <span class="form-control-feedback">*</span>
      <% if @patient.errors.messages[:phone].empty? %>      
        <%= f.text_field :phone, :class => 'form-control phone-input', :required => 'required' %>
      <% else %>
        <%= f.text_field :phone, :class => 'form-control is-invalid phone-input', :required => 'required' %>      
        <div class="form-control-feedback">
          <%= @patient.errors.full_messages_for(:phone)[0] %>
        </div>  
      <% end %>          
    </div>

    <div class="form-group col-md-4">
      <%= f.label :birth, :class => 'form-control-label' %> <span class="form-control-feedback">*</span>
      <% if @patient.errors.messages[:birth].empty? %>      
        <%= f.text_field :birth, :class => 'form-control datetimepicker_birth', 
            :value => (l(@patient.birth) unless @patient.birth.blank?), :required => 'required' %>
      <% else %>
        <%= f.text_field :birth, :class => 'form-control datetimepicker_birth is-invalid', 
            :value => (l(@patient.birth) unless @patient.birth.blank?), :required => 'required' %>
        <div class="form-control-feedback">
          <%= @patient.errors.full_messages_for(:birth)[0] %>
        </div>
      <% end %>
    </div>

    <div class="form-group col-md-4">
      <%= f.label :genre, :class => 'form-control-label' %> <span class="form-control-feedback">*</span>
      <% if @patient.errors.messages[:genre].empty? %>      
        <%= collection_select :patient, :genre, options_for_genres, :id, :description, {}, 
            { :class => 'form-control', :required => 'required' } %>
      <% else %>
        <%= collection_select :patient, :genre, options_for_genres, :id, :description, {}, 
        { :class => 'form-control is-invalid', :required => 'required' } %>
        <div class="form-control-feedback">
          <%= @patient.errors.full_messages_for(:genre)[0] %>
        </div>  
      <% end %>
    </div>
  </div>

  <div class="row col-md-12 label-required-fields">
    <span class="form-control-feedback">
      <%= t('labels.fields_required') %>
    </span>
  </div>

  <div class="row">
    <div class="form-group col-md-12">
      <%= f.submit t('buttons.save'), :class => "btn btn-primary" %>
      <%= link_to upa_patients_path, :class => 'btn btn-secondary' do %>
        <%= t('buttons.back') %>
      <% end %>
    </div>
  </div>  
<% end %>