<div class="row">
  <h3 class="mx-auto">
    <%= t('activerecord.models.patient.one') %>
    <small class="text-muted"><%= action %></small>
  </h3>    
</div>

<%= form_for([:upa, @patient]) do |f| %>
  <div class="row">  
    <div class="form-group col-md-9 <%= has_errors?(@patient, :name, 'has-danger') %>">
      <%= f.label :name, :class => 'form-control-label' %>
      <%= f.text_field :name, :class => 'form-control' %>
      <% if !@patient.errors.messages[:name].empty? %>
        <div class="form-control-feedback"><%= @patient.errors.full_messages_for(:name)[0] %></div>  
      <% end %>
    </div>

    <div class="form-group col-md-3 <%= has_errors?(@patient, :phone, 'has-danger') %>">
      <%= f.label :phone, :class => 'form-control-label'  %>
      <%= f.text_field :phone, :class => 'form-control' %>
      <% if !@patient.errors.messages[:phone].empty? %>
        <div class="form-control-feedback"><%= @patient.errors.full_messages_for(:phone)[0] %></div>  
      <% end %>          
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-3 <%= has_errors?(@patient, :date_entry, 'has-danger') %>">
      <%= f.label :date_entry, :class => 'form-control-label'  %>
      <%= f.text_field :date_entry, :class => 'form-control datetimepicker_datenow', 
        :value => (l(@patient.date_entry) unless @patient.date_entry.blank?) %>
      <% if !@patient.errors.messages[:date_entry].empty? %>
        <div class="form-control-feedback"><%= @patient.errors.full_messages_for(:date_entry)[0] %></div>  
      <% end %>                    
    </div>

    <div class="form-group col-md-3 <%= has_errors?(@patient, :time_entry, 'has-danger') %>">
      <%= f.label :time_entry, :class => 'form-control-label'  %>
      <%= f.text_field :time_entry, :class => 'form-control datetimepicker_timenow', 
        :value => (l(@patient.time_entry) unless @patient.time_entry.blank?) %>
      <% if !@patient.errors.messages[:time_entry].empty? %>
        <div class="form-control-feedback"><%= @patient.errors.full_messages_for(:time_entry)[0] %></div>  
      <% end %>       
    </div>

    <div class="form-group col-md-3 <%= has_errors?(@patient, :birth, 'has-danger') %>">
      <%= f.label :birth, :class => 'form-control-label'  %>
      <%= f.text_field :birth, :class => 'form-control datetimepicker_birth', 
          :value => (l(@patient.birth) unless @patient.birth.blank?) %>
      <% if !@patient.errors.messages[:birth].empty? %>
        <div class="form-control-feedback"><%= @patient.errors.full_messages_for(:birth)[0] %></div>  
      <% end %>
    </div>

    <div class="form-group col-md-3 <%= has_errors?(@patient, :genre, 'has-danger') %>">
      <%= f.label :genre, :class => 'form-control-label'  %>
      <%= collection_select :patient, :genre, options_for_genres, :id, :description, {}, 
          {:class => 'form-control'} %>
      <% if !@patient.errors.messages[:genre].empty? %>
        <div class="form-control-feedback"><%= @patient.errors.full_messages_for(:genre)[0] %></div>  
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-12 <%= has_errors?(@patient, :info, 'has-danger') %>">
      <%= f.label :info, :class => 'form-control-label'  %>
      <%= f.text_area :info, :class => 'form-control', :rows => 4, 
        :placeholder => 'Mais informações...' %>
      <% if !@patient.errors.messages[:info].empty? %>
        <div class="form-control-feedback"><%= @patient.errors.full_messages_for(:info)[0] %></div>  
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-12">
      <%= f.submit t('buttons.save'), :class => "btn btn-primary" %>
      <%= link_to upa_patients_path, :class => 'btn btn-secondary' do %>
        <%= t('buttons.back') %>
      <% end %>
    </div>
  </div>  
<% end %>