<div class="row">
  <h3 class="mx-auto">
      <%= @patients.model_name.human(count: @patients.length) %>
      <small class="text-muted"><%= t('labels.listed') %></small>
  </h3>    
</div>

<div class="row">
  <div class="col-lg-12">
    <%= search_form_for @q, { url: upa_patients_path } do |f| %>  
    <div class="input-group">
      <%= f.search_field :name_cont, class: 'form-control', placeholder: 'Pesquisar' %>
      <span class="input-group-btn">
        <%= f.submit t('buttons.search'), class: 'btn btn-outline-danger' %>
      </span>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12" style="margin-top: 20px; margin-bottom: 20px;">
    <%= link_to new_upa_patient_path, class: 'btn btn-success btn-block', role: 'button' do %>
      <%= t('buttons.new') %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th><%= @patients.model.human_attribute_name('name') %></th>
          <th><%= @patients.model.human_attribute_name('phone') %></th>
          <th><%= @patients.model.human_attribute_name('birth') %></th>
          <th><%= t('labels.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% @patients.each do |patient| %>
          <tr>
            <td scope='row'><%= patient.id %></td>
            <td><%= patient.name %></td>
            <td><%= patient.phone %></td>
            <td><%= l(patient.birth) %></td>
            <td>
              <%= link_to edit_upa_patient_path(patient), class: 'btn btn-outline-info' do %>
                <%= t('buttons.edit') %>
              <% end %>
              <%= link_to new_upa_appointment_path(:patient_id => patient.id), class: 'btn btn-outline-warning' do %>
                <%= t('buttons.appointment') %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @patients, theme: 'twitter-bootstrap-4' %>
  </div>
</div>