<nav class="nav-extended">
    <div class="nav-wrapper light-green darken-4">
    
        <%= link_to backoffice_dashboard_index_path, :class => "brand-logo" do %>
            Dashboard
        <% end %>
        
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        
        <!-- nav top -->
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><%= current_admin.email %></li>
            <li>
                <%= link_to backoffice_admins_path do %>
                    Administradores
                <% end %>
            </li>
            <li>
                <%= link_to backoffice_specializations_path do %>
                    Especializações
                <% end %>
            </li>
            <li>
                <%= link_to backoffice_doctors_path do %>
                    Médicos
                <% end %>
            </li>
            <li>
                <%= link_to destroy_admin_session_path, method: :delete do %>
                    Sair
                <% end %>
            </li>
        </ul>

        <!-- nav mobile -->
        <ul class="side-nav" id="mobile-demo">
            <li><%= current_admin.email %></li>
            <li>
                <%= link_to backoffice_specializations_path do %>
                    Especializações
                <% end %>
            </li>
            <li>
                <%= link_to backoffice_doctors_path do %>
                    Médicos
                <% end %>
            </li>
            <li>
                <%= link_to destroy_admin_session_path, method: :delete do %>
                    Sair
                <% end %>
            </li>
        </ul>
    
    </div>

</nav>
