<nav class="navbar navbar-toggleable-sm navbar-inverse bg-primary">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarBackoffice"
        aria-controls="nabvarBackoffice" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <%= link_to backoffice_dashboard_index_path, :class => "navbar-brand" do %>
        <%= t('backoffice_menu.dashboard') %>
    <% end %>
    
    <!-- nav top -->
    <div class="collapse navbar-collapse" id="navbarBackoffice">
        <ul class="navbar-nav">
            <!-- <li class="nav-item"><%= current_admin.email %></li> -->
            <li class="nav-item <%= active_class(backoffice_admins_path) %>">
                <%= link_to backoffice_admins_path, class: 'nav-link' do %>
                    <%= t('backoffice_menu.administrators') %>
                <% end %>
            </li>
            <li class="nav-item <%= active_class(backoffice_specializations_path) %>">
                <%= link_to backoffice_specializations_path, class: 'nav-link' do %>
                    <%= t('backoffice_menu.specializations') %>
                <% end %>
            </li>
            <li class="nav-item <%= active_class(backoffice_doctors_path) %>">
                <%= link_to backoffice_doctors_path, class: 'nav-link' do %>
                    <%= t('backoffice_menu.doctors') %>
                <% end %>
            </li>
            <li class="nav-item">
                <%= link_to destroy_admin_session_path, class: 'nav-link',method: :delete do %>
                    <%= t('backoffice_menu.exit') %>
                <% end %>
            </li>
        </ul>
    </div>
</nav>
