<div class="row">
    <h3 class="mx-auto">
        <%= @doctors.model_name.human(count: @doctors.length) %>
        <small class="text-muted"><%= t('labels.listed') %></small>
    </h3>    
</div>
    
<%= link_to new_backoffice_doctor_path, :class => "btn btn-outline-success btn-lg btn-block" do %>
    <%= t('buttons.new') %>
<% end %>

<div class="row">
    <div class="col">

        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th><%= @doctors.model.human_attribute_name("name") %></th>
                    <th><%= @doctors.model.human_attribute_name("specialization") %></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @doctors.each do |doctor| %>
                    <tr>
                        <td scope="row"><%= doctor.id %></td>
                        <td><%= doctor.name %></td>
                        <td><%= doctor.specialization.description %></td>
                        <td>
                            
                            <%= link_to edit_backoffice_doctor_path(doctor), :class => "btn btn-outline-primary" do %>
                                <%= t('buttons.edit') %>
                            <% end %>

                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <%= paginate @doctors, theme: 'twitter-bootstrap-4' %>
    </div>
</div>