<div class="row">
    <h3 class="mx-auto">
        <%= @doctors.model_name.human(count: @doctors.length) %>
        <small class="text-muted"><%= t('labels.listed') %></small>
    </h3>    
</div>

<%= render partial: 'layouts/shared/search',
           locals: {
                      path: backoffice_doctors_path,
                      field_name: :name_or_specialization_description_cont,
                      type_button: 'outline-danger'
                    } %>

<%= link_to new_backoffice_doctor_path, :class => "btn btn-danger btn-block btn-block-backoffice" do %>
    <%= t('buttons.new') %>
<% end %>

<div id="list-doctors">
<%= render partial: 'backoffice/doctors/shared/doctors' %>
</div>