
<h3 class="center-align"><%= @admins.model_name.human(count: @admins.length) %></h3>
    <div class="row">
        <div class="col s12 m1 offset-m11">
                <%= link_to new_backoffice_admin_path, :class => "btn-floating green" do %>
                    <i class="material-icons">library_add</i>
                <% end %>
        </div>
    </div>

    <div class="row">
        <div class="col s12">

            <table class="highlight centered">
                <thead>
                    <th>#</th>
                    <th><%= @admins.model.human_attribute_name("name") %></th>
                    <th><%= @admins.model.human_attribute_name("email") %></th>
                    <th></th>
                </thead>
                <tbody>
                    <% @admins.each do |admin| %>
                        <tr>
                            <td><%= admin.id %></td>
                            <td><%= admin.name %></td>
                            <td><%= admin.email %></td>
                            <td>
                                
                                <%= link_to edit_backoffice_admin_path(admin), :class => "btn-floating cyan darken-4" do %>
                                    <i class="material-icons">mode_edit</i>
                                <% end %>

                                <% if current_admin.id != admin.id %>
                                    <%= link_to backoffice_admin_path(admin), method: :delete, :class => "btn-floating red",
                                        data: {confirm: t('messages.confirm_with', :item => admin.name)} do %>
                                        <i class="material-icons">delete</i>
                                    <% end %>
                                <% else %>
                                    <%= link_to '#', :disabled => "disabled", :class => "btn-floating red" do %>
                                        <i class="material-icons">delete</i>
                                    <% end %>
                                <% end %>

                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>

        </div>
    </div>




