
<div class="row">
    <h3 class="mx-auto">
        <%= @admins.model_name.human(count: @admins.length) %>
        <small class="text-muted"><%= t('labels.listed') %></small>
    </h3>    
</div>

<%= link_to new_backoffice_admin_path, :class => "btn btn-outline-success btn-lg btn-block" do %>
    <%= t('buttons.new') %>
<% end %>

    <div class="row">
        <div class="col">

            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th><%= @admins.model.human_attribute_name("name") %></th>
                        <th><%= @admins.model.human_attribute_name("email") %></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @admins.each do |admin| %>
                        <tr>
                            <td scope="row"><%= admin.id %></td>
                            <td><%= admin.name %></td>
                            <td><%= admin.email %></td>
                            <td>
                                
                                <%= link_to edit_backoffice_admin_path(admin), :class => "btn btn-outline-primary" do %>
                                    <%= t('buttons.edit') %>
                                <% end %>

                                <% if current_admin.id != admin.id %>
                                    <%= link_to backoffice_admin_path(admin), method: :delete, :class => "btn btn-outline-danger",
                                        data: {confirm: t('messages.confirm_with', :item => admin.name)} do %>
                                        <%= t('buttons.delete') %>
                                    <% end %>
                                <% else %>
                                    <%= link_to '#', :class => "btn btn-danger disabled" do %>
                                        <%= t('buttons.delete') %>
                                    <% end %>
                                <% end %>

                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <%= paginate @admins, theme: 'twitter-bootstrap-4' %>
        </div>
    </div>




