
<h3 class="center-align"><%= @specializations.model_name.human(count: @specializations.length) %></h3>
    <div class="row">
        <div class="col s12 m1 offset-m11">
                <%= link_to new_backoffice_specialization_path, :class => "btn-floating green" do %>
                    <i class="material-icons">library_add</i>
                <% end %>
        </div>
    </div>

    <div class="row">
        <div class="col s12">

            <table class="highlight centered">
                <thead>
                    <th>#</th>
                    <th><%= @specializations.model.human_attribute_name("description") %></th>
                    <th></th>
                </thead>
                <tbody>
                    <% @specializations.each do |specialization| %>
                        <tr>
                            <td><%= specialization.id %></td>
                            <td><%= specialization.description %></td>
                            <td>
                                
                                <%= link_to edit_backoffice_specialization_path(specialization), :class => "btn-floating cyan darken-4" do %>
                                    <i class="material-icons">mode_edit</i>
                                <% end %>

                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>

        </div>
    </div>




