<div class="row">
  <h3 class="mx-auto">
    <%= @specializations.model_name.human(count: @specializations.length) %>
    <small class="text-muted"><%= t('labels.listed') %></small>
  </h3>    
</div>

<%= render partial: 'layouts/shared/search',
           locals: {
                    path: backoffice_specializations_path,
                    field_name: :description_cont,
                    type_button: 'outline-primary'
                  } %>

<%= link_to new_backoffice_specialization_path, :class => "btn btn-primary btn-block btn-block-backoffice" do %>
  <%= t('buttons.new') %>
<% end %>

<div id="list-specializations">
  <%= render partial: 'backoffice/specializations/shared/specializations' %>
</div>