<div class="row">
  <h3 class="mx-auto">
    <%= t('activerecord.models.secretary.one') %>
    <small class="text-muted"><%= action %></small>
  </h3>    
</div>
    
<%= form_for([:backoffice, @secretary]) do |f| %>
    
  <div class="row">
    <div class="form-group col-md-6 <%= has_errors?(@secretary, :name, 'has-danger') %>">
      <%= f.label :name, :class => 'form-control-label' %>
      <%= f.text_field :name, :class => 'form-control' %>
      <% if !@secretary.errors.messages[:name].empty? %>
        <div class="form-control-feedback"><%= @secretary.errors.full_messages_for(:name)[0] %></div>  
      <% end %>          
    </div>

    <div class="form-group col-md-6 <%= has_errors?(@secretary, :name, 'has-danger') %>">
      <%= f.label :email, :class => 'form-control-label' %>
      <%= f.text_field :email, :class => 'form-control' %>
      <% if !@secretary.errors.messages[:email].empty? %>
        <div class="form-control-feedback"><%= @secretary.errors.full_messages_for(:email)[0] %></div>  
      <% end %>                    
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6 <%= has_errors?(@secretary, :password, 'has-danger') %>">    
      <%= f.label :password, :class => 'form-control-label' %>
      <%= f.password_field :password, :class => 'form-control' %>
      <% if !@secretary.errors.messages[:password].empty? %>
        <div class="form-control-feedback"><%= @secretary.errors.full_messages_for(:password)[0] %></div>  
      <% end %>
    </div>

    <div class="form-group col-md-6 <%= has_errors?(@secretary, :password_confirmation, 'has-danger') %>">
      <%= f.label :password_confirmation, :class => 'form-control-label' %>
      <%= f.password_field :password_confirmation, :class => 'form-control' %>
      <% if !@secretary.errors.messages[:password_confirmation].empty? %>
        <div class="form-control-feedback"><%= @secretary.errors.full_messages_for(:password_confirmation)[0] %></div>  
      <% end %>      
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-12">
      <%= f.submit t('buttons.save'), :class => "btn btn-primary" %>            
      <%= link_to backoffice_secretaries_path, :class => 'btn btn-secondary' do %>
        <%= t('buttons.back') %>
      <% end %>
    </div>
  </div>

<% end %>