<div class="row">
  <div class="col">

    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>
            <%= sort_link @q, :name,
                              @secretaries.model.human_attribute_name("name"),
                              default_order: :desc %>
          </th>
          <th>
            <%= sort_link @q, :email,
                              @secretaries.model.human_attribute_name("email"),
                              default_order: :desc %>
          </th>
          <th><%= t('labels.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% @secretaries.each do |secretary| %>
          <tr>
            <td scope="row"><%= secretary.id %></td>
            <td><%= secretary.name %></td>
            <td><%= secretary.email %></td>
            <td>
                            
              <%= link_to edit_backoffice_secretary_path(secretary), :class => "btn btn-outline-primary" do %>
                <%= fa_icon "edit" %>                                
              <% end %>

              <%= link_to backoffice_secretary_path(secretary), method: :delete, :class => "btn btn-outline-danger",
                data: {confirm: t('messages.confirm_with', :item => secretary.name)} do %>
                <%= fa_icon "remove" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @secretaries, theme: 'twitter-bootstrap-4' %>
  </div>
</div>