<div class="row">
  <h2 class="mx-auto">
      <%= t('activerecord.models.dashboard.one') %>
  </h2>    
</div>

<div class="row">
  <div class="col-lg-6">
    <h3 class="mx-auto">
      <small class="text-muted"><%= t('labels.doctors_count_specialization') %></small>
    </h3>    
    <%= pie_chart @specializations_group, download: true %>
  </div>
  
  <div class="col-lg-6">
    <h3 class="mx-auto">
      <small class="text-muted"><%= t('labels.doctors_count_specialization') %></small>
    </h3>
    <%= column_chart @specializations_group, download: true %>      
  </div>
</div>