<!DOCTYPE html>
<html>
  <head>
    <title>Upa</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
      <!-- nav bar -->
      <% if current_admin %>
        <%= render :partial => "layouts/backoffice_shared/navigation" %>
      <% end %>
      
      <div class="container">
        <%= yield %> 
      </div>

      <%= javascript_include_tag 'application' %>  
      <% if notice %>
        <script>
            $.notify("<%= notice %>", "success");
        </script>
      <% end %>

      <% if alert %>
        <script>
          $.notify("<%= alert %>", "error");
        </script>
      <% end %>
  </body>
</html>