<!DOCTYPE html>
<html>
  <head>
    <title>Upa</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'backoffice', media: 'all' %>
    <%= javascript_include_tag 'charts' %> 
  </head>

  <body>
      <!-- nav bar -->
      <% if current_admin %>
        <%= render :partial => "layouts/backoffice_shared/navigation" %>
      <% end %>
      
      <main role="main" class="container">
        <%= yield %> 
      </main>

      <div class="mt-4">
        <p class="text-muted"><%= t('labels.about_app') %></p>
      </div>      

      <% if current_admin %>
        <%= render :partial => "layouts/shared/footer" %>
      <% end %>

      <%= javascript_include_tag 'application' %>
      <%= render partial: 'layouts/shared/notifications' %>
  </body>
</html>