<!DOCTYPE html>
<html>
  <head>
    <title>Upa</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'upa', media: 'all' %>
  </head>

  <body>

    <%= render :partial => 'layouts/upa_shared/navigation' %>

    <main role="main" class="container">
        <%= yield %>       
    </main>

    <%= render partial: 'layouts/shared/notifications' %>
    <%= render :partial => 'layouts/upa_shared/footer' %>
    <%= javascript_include_tag 'application' %>  
  </body>
</html>
