<!DOCTYPE html>
<html>
  <head>
    <title>Upa</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>    
    <%= stylesheet_link_tag 'upa_devise' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= render partial: 'layouts/shared/notifications' %>    
  </body>
</html>